@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: gray;
    width: 100vw;
    height: 100vh;
}
.paralama{
    position: relative;
   
}
.sem{
position: absolute;
width: 520px;
z-index: 2;
top: 50%;
left: 50%;
margin-top: 40px;
margin-left:-256px;
animation: is-boucing01 1.5s  alternate infinite ;
}

@keyframes rodar {
    from {transform: rotate(0deg);}
    to {
        transform: rotate(360deg);
    }
}

.capa{
    position: relative;
}

.capa1{
    width:  30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    margin-top: 155.5px;
    margin-left: 65px;
    animation: is-boucing 1.5s ease alternate infinite ;
}
.capad{
    position: relative;
}
.capa2{
    width:  30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    margin-top: 147px;
    margin-left: 110px;
    animation: is-boucing 1.5s ease alternate infinite ;
}

.refrid{
    position: relative;
}
.refri1{
    position: absolute;
    width: 22px;
    top: 50%;
    left: 50%;
    z-index: 7;
    margin-top: 138px;
    margin-left:68px;
    animation: is-boucing02 1.5s ease alternate infinite ;
    
}
.refri2d{
    position: relative;
}
.refri2{
    position: absolute;
    width: 32px;
    top: 50%;
    left: 50%;
    z-index: 7;
    margin-top: 130px;
    margin-left:112.5px;
    animation: is-boucing02 1.5s ease alternate infinite ;
    
}
.roda01{
    position: relative;
    
    
}
.roda1{
    width: 115px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: 380px;
    margin-left:-256px;
    position: absolute;
    animation: rodar 1s linear  reverse infinite ;
    
   
    
}

.roda02{
    position: relative;
    
}

.roda2 {
    position: absolute;
    width: 115px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: 380px;
    margin-left: 77px;
    animation: rodar 1s linear reverse infinite;
    

}

.fuma01{
    position: relative;
}
.fumaça01{
    position: absolute;
    width: 12px;
    top: 50%;
    left: 50%;
    margin-top: 393.6px ;
    margin-left: 248px;
    animation: fumaça 3.5s ease-in-out  infinite ;
    

}
.fuma02{
    position: relative;
}
.fumaça02{
    position: absolute;
    width: 12px;
    top: 50%;
    left: 50%;
    margin-top: 393.5px ;
    margin-left: 248px;
    animation: fumaça 4s ease-in-out  infinite ;

}
.fuma03{
    position: relative;
}
.fumaça03{
    position: absolute;
    width: 15px;
    top: 50%;
    left: 50%;
    margin-top: 393.5px ;
    margin-left: 249px;
    animation: fumaça 3.2s ease-in-out  infinite ;
    
}



.bag{
    position: relative;
   
}

.bag01{
    width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    margin-top: 111px;
    margin-left: 37px;
    animation: is-boucing 1.5s ease alternate infinite ;
    
    
    
    
   

}

@keyframes fumaça {
    0% {
        transform: translateY();opacity: 0%;
        rotate: 100deg ;
        
    }
    5% {
        transform: translateY(-2.5vh);opacity: 0%;
        
        
    }
    10% {
        transform: translateY();opacity: 100%;
        
        
    }
  
    50% {
        transform: translateY(-30vh);
        opacity: 0%;
        rotate: 30deg;
       
       
    }
    
    100%{
        transform: translateY(-34vh);
        opacity: 0%;
        rotate: 0deg;
        
        
    }
    
}

@keyframes is-boucing {
   
    0% { 
        transform:translateY(0px);
        
        
    }

    50%{
        transform: translateY(0px);
        
        
    }
    55%{
        transform: translateY(0px);
        
        
    }
    60%{
        transform: translateY(0px);
        
       
    }
    65%{
        transform: translateY(0px);
      
        
    }
    70%{
        transform: translateY(0px);
        
        
    }
    75%{
        transform: translateY(0px);
        
        
    }
    80%{
        transform: translateY(0px);
        
      
    }
   
    100%{
        transform: translateY(-20px);
            
    } 
}

@keyframes is-boucing01 {
   
    0% { 
        transform:translateY(0px);
        
        
    }

    50%{
        transform: translateY(0px);
        
        
    }
    55%{
        transform: translateY(0px);
        
        
    }
    60%{
        transform: translateY(0px);
        
       
    }
    65%{
        transform: translateY(0px);
      
        
    }
    70%{
        transform: translateY(0px);
        
        
    }
    75%{
        transform: translateY(0px);
        
        
    }
    80%{
        transform: translateY(0px);
        
      
    }
   
    100%{
        transform: translateY(-10px);
      
    }
  
}
@keyframes is-boucing02 {
   
    0% { 
        transform:translateY(0px);
        
        
    }

    50%{
        transform: translateY(0px);
        
        
    }
    55%{
        transform: translateY(0px);
        
        
    }
    60%{
        transform: translateY(0px);
        
       
    }
    65%{
        transform: translateY(0px);
      
        
    }
    70%{
        transform: translateY(0px);
        
        
    }
    75%{
        transform: translateY(0px);
        
        
    }
    80%{
        transform: translateY(0px);
        
      
    }
   
    100%{
        transform: translateY(-29px);
      
    }
  
}


